<div class="jumbotron mt-4">
    <h1 class="display-4">ENIGMA APP NODEJS AND MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fuga ipsum earum velit provident in adipisci repellendus obcaecati, praesentium placeat consequatur quod natus, recusandae tenetur corporis cumque, quos culpa ipsa?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, sequi. Id dolores magnam nobis excepturi velit, debitis animi dolor fugiat deleniti iusto repudiandae ad ratione, quam, laboriosam minus voluptate eveniet?</p>
    <a href="https://www.google.com.co/" class="btn btn-primary btn-g">Google</a>
</div>