<nav class="navbar navbar-expand-lg navbar-light bg-Secondary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			Enigma
		</a>
		<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{{#if leader}}
					<li class="nav-item">
						<a class="nav-link" href="/inscriptions">
							Inscripciones
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/proyects">
							Proyectos
						</a>
					</li>
				{{else if user}}
					<li class="nav-item">
						<a class="nav-link" href="/inscription">
							Inscribir
						</a>
					</li>
				{{/if}}
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{{#if user}}
					<li class="nav-item">
						<a class="nav-link" href="/users/logout">
							Cerrar Sesión
						</a>
					</li>
				{{else}}
					<li class="nav-item">
						<a class="nav-link" href="/users/signin">
							Iniciar sesión
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/signup">
							Registrarse
						</a>
					</li>

				{{/if}}
			</ul>
		</div>
	</div>
</nav>
